@inherits LayoutComponentBase

<main class="container">
    <div class="row min-vh-100 justify-content-center align-items-center">
        <div class="col bg-light p-4">
            @Body
        </div>
    </div>
</main>